@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Rubik, Rubik Mono One, Inter, system-ui, Avenir, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111219;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}

.wallet-adapter-button {
  width: 100%;
  justify-content: center;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1c1b0b;
    --card: rgba(255, 255, 255, 0.9);
    --card-foreground: #1c1b0b;
    --popover: #ffffff;
    --popover-foreground: #1c1b0b;
    --primary: #1e1e0d;
    --primary-foreground: #f0faff;
    --secondary: #f1f5f9;
    --secondary-foreground: #1e1e0d;
    --muted: #f1f5f9;
    --muted-foreground: #81828a;
    --accent: #f1f5f9;
    --accent-foreground: #1e1e0d;
    --destructive: #ff6b6b;
    --destructive-foreground: #f0faff;
    --border: #dfe3ea;
    --input: #dfe3ea;
    --ring: #1c1b0b;
    --chart-1: #ffa321;
    --chart-2: #359e74;
    --chart-3: #2b5866;
    --chart-4: #a7d030;
    --chart-5: #f47330;
    --radius: 0.5rem;
    --red: #9E2423;
    --main-foreground: #f1eee5;
    --map: rgba(255, 255, 255, 0.5);
  }
}

@layer base {
  @font-face {
    font-family: 'Burlesk';
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/Burlesk_Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'JollyLodger';
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/JollyLodger_Regular.ttf) format('truetype'),
      url(./assets/fonts/JollyLodger_Cyrillic.otf) format('opentype');
  }

  @font-face {
    font-family: 'Pieces of Eight';
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/Pieces_of_Eight.ttf) format('truetype'),
      url(./assets/fonts/Pieces_of_Eight_Alt.ttf) format('truetype');
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
  }
}

@layer components {
  .rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .dashboard {
    color: var(--main-foreground);
    background: #0F2027;
    background: -webkit-linear-gradient(330deg, #2C5364, #203A43, #0F2027);
    background: linear-gradient(330deg, #2C5364, #203A43, #0F2027);
  }
}