@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  :root {
    --background: theme('colors.blue.50');
    --foreground: theme('colors.gray.900');
    --card: theme('colors.white');
    --card-foreground: theme('colors.gray.900');
    --popover: theme('colors.white');
    --popover-foreground: theme('colors.gray.900');
    --primary: theme('colors.blue.700');
    --primary-foreground: theme('colors.white');
    --secondary: theme('colors.blue.200');
    --secondary-foreground: theme('colors.gray.800');
    --muted: theme('colors.blue.200');
    --muted-foreground: theme('colors.gray.600');
    --accent: theme('colors.blue.200');
    --accent-foreground: theme('colors.gray.800');
    --destructive: theme('colors.red.500');
    --destructive-foreground: theme('colors.white');
    --border: theme('colors.gray.300');
    --input: theme('colors.gray.300');
    --ring: theme('colors.gray.900');
    --chart-1: theme('colors.orange.500');
    --chart-2: theme('colors.teal.600');
    --chart-3: theme('colors.blue.800');
    --chart-4: theme('colors.yellow.300');
    --chart-5: theme('colors.green.300');
    --radius: 0.5rem;
  }

  .dark {
    --background: theme('colors.gray.800');
    --foreground: theme('colors.slate.200');
    --card: theme('colors.gray.800');
    --card-foreground: theme('colors.slate.300');
    --popover: theme('colors.gray.800');
    --popover-foreground: theme('colors.slate.200');
    --primary: theme('colors.slate.200');
    --primary-foreground: theme('colors.gray.700');
    --secondary: theme('colors.gray.700');
    --secondary-foreground: theme('colors.white');
    --muted: theme('colors.gray.700');
    --muted-foreground: theme('colors.slate.400');
    --accent: theme('colors.gray.700');
    --accent-foreground: theme('colors.white');
    --destructive: theme('colors.red.400');
    --destructive-foreground: theme('colors.white');
    --border: theme('colors.gray.700');
    --input: theme('colors.gray.700');
    --ring: theme('colors.slate.300');
    --chart-1: theme('colors.blue.400');
    --chart-2: theme('colors.green.500');
    --chart-3: theme('colors.yellow.400');
    --chart-4: theme('colors.purple.400');
    --chart-5: theme('colors.red.400');
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}